<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/flights">ALL FLIGHTS</a></li>
            <li><a href="/flights/new">ADD FLIGHT</a></li>
            <li><a href="/tickets/new">CREATE TICKET</a></li>
        </ul>
    </nav>


