<!-- views/tickets/show.ejs -->
<%- include('../partials/header') %>
<h1>Ticket Details</h1>
<p>Passenger Name: <%= ticket.passengerName %></p>
<p>Seat Number: <%= ticket.seatNumber %></p>
<%- include('../partials/footer') %>
