<!-- views/destinations/show.ejs -->
<%- include('../partials/header') %>
<h1>Destination Details</h1>
<ul>
  <li>Airport: <%= destination.airport %></li>
  <li>Arrival Date/Time: <%= destination.arrival %></li>
</ul>
<%- include('../partials/footer') %>
